<div class="page-header">
  <h1><%= @invitation.guest_list %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead">
      Thanks for replying! If you’re coming, let us know what you’d like to eat. Any
      dietary requirements, or anything else we should know about, just write it in
      the ‘notes’ field below.
    </p>
    <% if @invitation.contains_children? %>
      <p>
        We haven’t finalised the kids’ menu yet, but again, tell us anything we
        need to know in the ‘notes’ field.
      </p>
    <% end %>
  </div>
</div>
<%= form_for @invitation, html: { class: 'row'} do |f| %>
  <%= f.fields_for :guests do |gff| %>
    <div class="col-md-<%= inv_grid_cols(@invitation.guests) %> guest">
      <h2><%= gff.object.fullname %></h2>
      <div class="form-group">
        <h3>Coming?</h3>
        <label class="radio-inline coming-yes coming-toggle">
          <%= gff.radio_button :rsvp, true, class: 'radio-yes' %> Yes
        </label>
        <label class="radio-inline coming-no coming-toggle">
          <%= gff.radio_button :rsvp, false, class: 'radio-no' %> No
        </label>
      </div>
      <% if gff.object.child? %>
        <div class="menu-choices">
          <p class="text-muted">No choices to worry about <i class="fa fa-smile-o"></i></p>
        </div>
      <% else %>
        <div class="menu-choices">
        <h3>Menu Choices</h3>
          <% gff.object.menu_choices.each do |menu_choice| %>
            <%= gff.fields_for :menu_choices, menu_choice do |mcff| %>
              <h4><%= menu_choice.course.name %></h4>
              <div class="form-group">
                <%= mcff.collection_radio_buttons :dish_id, RubyWedding::Dish.where(course_id: menu_choice.course_id), :id, :name do |bil| %>
                  <div class="radio">
                    <label>
                      <%= bil.radio_button %>
                      <%= bil.label do
                        str = "#{bil.object.name}"
                        str << ' <span class="vege">(v)</span>' if bil.object.vegetarian?
                        str.html_safe
                      end %>
                    </label>
                  </div>
                <% end %>
              </div>
              <%= mcff.hidden_field :course_id %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col-md-12 form-group">
    <%= f.text_area :notes, class: 'form-control', rows: 4, placeholder: "Notes" %>
  </div>
  <div class="col-md-12 form-group">
    <p><%= f.button "RSVP", class: 'btn btn-success btn-lg btn-block' %></p>
  </div>

<% end %>
